$bodyBackground: rgba(14, 10, 0, 1);
$clockBackground: rgba(255, 255, 255, 0.025);

$borderColorFull: rgb(189, 177, 154);
$borderColor: 189, 177, 154;

$pointColorFull: rgb(109, 103, 91);
$pointColor: 109, 103, 91;

$sPointColorFull: rgb(143, 139, 132);
$sPointColor: 143, 139, 132;

$msPointColorFull: rgb(121, 116, 106);
$msPointColor: 121, 116, 106;

$specialPointFull: rgba(231, 218, 193);
$specialPoint: 231, 218, 193;

$textFull: rgba(231, 218, 193);
$text: 231, 218, 193;
